body {
  margin:50px 0px; padding:0px;
  text-align:center;
}

input.lang {width: 35px}
table{
  width: 100%;
  border: 1px solid #6d6d6d;
  border-radius: 5px;
  margin: auto;
  margin-top: 15px;
}
th{
  background: -moz-linear-gradient(top, #5A7CFE, blue);
  color: #00145F;
  background: -webkit-gradient(linear, left top, left bottom, from(#5A7CFE), to(blue));
  padding: 5px;
  text-shadow: 1px 1px 2px #0028C1;
}
td{
  padding: 5px;
  border-top: 1px solid black;
}
td a{
  text-decoration: none;
  color: black;
}

tr.columns th{
  background: -moz-linear-gradient(top, #c3c3c3, #a5a5a5);
  background: -webkit-gradient(linear, left top, left bottom, from(#c3c3c3), to(#a5a5a5));
  font-size: 10px;
  text-shadow: 1px 1px 2px #6d6d6d;
  color: #585858;
  padding: 0px 5px 0px 5px;
  border: 1px solid #6d6d6d;
}

footer {
  margin: 20px 20px 0 0px;
  padding-top: 4px;
  width: 100%;
  border-top: 1px solid black;
  text-align: right;
}
footer a{
  margin-left: 5px;
  text-decoration: none;
  color: black;
}

#container {
  width:800px;
  margin:0px auto;
  text-align:left;
  padding:15px;
  border:1px dashed #333;
  background-color:#eee;
}

#left {
  float:left;
  width:350px;
}
#right {
  float:left;
  width:300px;
  padding-top: 15px;
}
header {
  /*padding-left: 25px;*/
  width:100%;
  margin:0 auto;
  height: 70px;
}
header h1{
  font-style: italic;
  margin: 0px;
  font-size: 50px;
}
header h2{
  margin-top: 0px;
  font-size:10px;
  text-decoration: none;
  color: black;
}
